{
  "extends": [
    "plugin:react/recommended",
    "prettier",
    "prettier/react",
    "plugin:flowtype/recommended"
  ],
  "plugins": ["prettier", "flowtype"],
  "rules": {
    "prettier/prettier": "error"
  }
}
